@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Material+Icons');

.material-icons {
    font-size: inherit;
    line-height: inherit;
}

::selection {
    background: rgba(0, 0, 255, 0.1);
}

html {
    height: 100%;
}
body {
    font-family: "Dosis", sans-serif;
    height: 100%;
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}
.sidebar {
    width: 300px;
    height: 100%;
    background: #00bcd4;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.6);
    overflow: auto;
    position: relative;
}
.sidebar .site-name {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 100;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);*/
}
.sidebar .pet-item {
    background: rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 6px 5px;
    padding: 0 0 0 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 300ms box-shadow;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}
.sidebar .pet-item:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.sidebar .pet-item .title {
    font-size: 20px;
    font-weight: 700;
    color: #ffeb3b;
}
.sidebar .fab {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-radius: 50px;
    border: none;
    background: #e91e63;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    outline: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 300ms all;
}
.sidebar .fab:hover, .sidebar .fab:active {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.7);
}
main {
    flex-grow: 1;
    height: 100%;
    background: #FFFFFF;
    color: #121212;
}

main .centered {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-fat-text {
    font-size: 27px;
    font-weight: 700;
}
.red-text {
    color: #e75555;
}